[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/zsh/powerlevel10k"]
	path = config/zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "config/zsh/plugins/zsh-completions"]
	path = config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "config/zsh/plugins/zsh-syntax-highlighting"]
	path = config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "config/zsh/plugins/zsh-autosuggestions"]
	path = config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "config/zsh/plugins/alias-tips"]
	path = config/zsh/plugins/alias-tips
	url = https://github.com/djui/alias-tips.git
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://git::@github.com/tmux-plugins/tpm
