[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/zsh/plugins/zsh-completions"]
	path = config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "config/zsh/plugins/zsh-syntax-highlighting"]
	path = config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	branch = master
[submodule "config/zsh/powerlevel10k"]
	path = config/zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	branch = master
